* {
	box-sizing: border-box;
	font-family: "Arial Black", Gadget, sans-serif;
	color: black;
}
h1 {
	text-align: center;
	text-size: 180%;
}
body {
	background-color: #e0e0b5; 
}
 #box1, #box2, #box3 {
 	background-color: #ffffff;
	position: relative;
	border-width: 1px;
	border-color: #cc0000;
	width: 300px;
	height: 50px;
	padding-top: 10px;
	overflow: auto;
}